@import './mixin'

orange = #C34E00
gray = #EBEBEB
gray2 = #505050
gray3 = #C0C0C0
white = #FFFFFF
width = 940px

body
  width 100%
  background gray
  color orange
  font-family TitilliumText22LMedium, sans-serif
  font-weight lighter
  margin 0px 0px
  padding 0px
  text-align center

#header
  width 100%
  border-top 3px solid orange
  border-bottom 2px solid gray3
  overflow auto
  padding 20px 0 20px

  .container
    width width
    margin 0 auto

    .title
      float left
      color orange
      font-size 34px
      font-weight lighter
      line-height 50px
      text-transform lowercase

      .bold
        font-weight bold

      .tiny
        font-size 10px

    .tutorial
      float right
      color gray2
      font-size 14px
      font-weight normal
      line-height 50px
      text-transform lowercase
      margin 0px
      margin-top 8px
      cursor pointer
      &:hover
        color: orange

#tool-title
  width width
  margin 0 auto
  clear both
  padding 40px 0 4px
  

  h2
    font-size 25px
    font-weight normal
    text-align left
    display block

#app

  > div
    display none
  > div.active
    width width
    margin 0 auto
    display block

  #main
    #coordinate-form
      overflow auto
      padding-bottom 24px
      border-bottom 2px solid gray3

      input[type="text"]
        float left
        height 45px
        width 260px
        margin-right 10px
        color gray2
        font-size 18px
        background-color white
        border 1px solid gray3
        box-shadow 0px 1px 0px white

      input[type="submit"]
        float right
        -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DA5700), to(#C34E00))
        background-color #DA5700
        font-size 20px
        color white
        height 45px
        border 1px solid #993D00
        box-shadow 0px 1px 0px white
        cursor pointer
        &:hover
          background-color orange

      form
        margin-top 20px

  #results
    #filters
      .types
        float left

    #seds
      clear both

      .sed
        width 312px
        float left
        padding 10px 0px 12px 0px
        text-align left
        font-size 12px
        margin-top 30px
        cursor pointer
        color gray2
        &:hover
          color orange

        .object-info
          width 230px
          .object-name
            font-size 14px
          .object-type
            font-size 12px
            font-weight lighter

        .plot
          width 230px
          height 120px

          > .flot-base
            color orange

  #examine
    .sed
      .object-info
        width 600px
        .object-name
          float left
        .object-type
          float right
          font-weight lighter

      .plot
        clear both
        position relative

        .flot
          width 600px
          height 300px

        .yaxis
          font-size 11px
          position absolute
          left -100px
          top 180px
          padding-left 80px
          transform rotate(-90deg)

        .xaxis
          font-size 11px
          position absolute
          left 274px
          top 306px

        .axisLabels
          font-size 11px
