@import './mixin'


body
  width 100%

#results
  width 100%
  margin 0 auto

.biblio
  width 50%

.sed
  width 50%

.result
  width 600px
  border 1px solid #505050
  margin 20px 0 20px 0
  &:hover
    background-color rgba(0, 0, 255, 0.1)
  